body {
    background-color: #9EC7F7;
}

h1, h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: auto;
}

h1 {
    margin-bottom: 0px;
}
h3 {
    margin-top: 0px;
}

#cy {
    background-color: white;
    width: 80vw;
    height: 80vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }