body {
    background-color: #9EC7F7 !important;
    font-family: helvetica;
    font-size: 14px;
}
  
#cy {
    border: solid;
    border-width: 1;
    height: 500px;
    background-color: white;
    height: 75vh;
}

br {
    line-height: 10px;
 }

h1, h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: auto;
}

h1 {
    margin-bottom: 0px;
}

h4 {
    margin-top: 0px;
}

#loading {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -0.5em;
    font-size: 2em;
    color: #fff;
}
  
  #loading.loaded {
    display: none;
}