#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

.container-fluid {
    height: 100vh;
    padding: 0 !important;
}

#cy {
    height: 100vh;
    background-color:#222;
}

#graph-title {
    color: white;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial ,sans-serif;
    font-weight: bold;
    position: absolute;
    top: 0.5rem;
    left: 26rem;
    z-index: 1;
}

div.cytoscape-navigator {
	background: #222 !important;
	border: 1px solid darkgrey !important;
}
  
#loading {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -0.5em;
    font-size: 2em;
    color: #fff;
}
  
#loading.loaded {
    display: none;
}

#department-filter-div {
    display: block;
    flex-direction: column;
}

div.bootstrap-tagsinput {
    display: block;
    width: 100%;
}

hr {
    color: #222;
}